.main {
  height: 100vh;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main__right {
  flex: 0.2;
}

.main__videos {
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main__controls {
  background-color: #ffffff;
}

.main__right {
  background-color: #ffffff;
  border-left: 1px solid #3d3d42;
}

.main__controls {
  color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.main__side_control {
  color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.main__controls__block {
  display: flex;
  direction: column;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}
.menue {
  display: flex;
  justify-content: space-around;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 10px;
}

.main__controls__button i {
  font-size: 24px;
}

.side__controls__button {
  color: #d2d2d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main__right {
  display: flex;
  flex-direction: column;
}

.main__header {
  padding-top: 5px;
  color: #3d3d42;
  text-align: center;
}
.side__controls__button:hover {
  padding-top: 5px;
  color: #7d00c4;
  text-align: center;
}

.users_clicked {
  padding-top: 5px;
  color: #7d00c4;
  text-align: center;
}
.chat_clicked {
  padding-top: 5px;
  color: #7d00c4;
  text-align: center;
}
.subtitle_clicked {
  padding-top: 5px;
  color: #7d00c4;
  text-align: center;
}

.users_button:active {
  color: #7d00c4;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
}

.close {
  cursor: pointer;
}

.messages {
  color: rgb(0, 0, 0);
  list-style: none;
}

.main__message_container {
  padding: 22px 12px;
  display: flex;
}

.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #000000;
}

.leave_meeting {
  color: #eb534b;
}

.unmute,
.stop {
  color: #cc3b33;
}

.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-size: large;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.1s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #7d00c4;
  border-bottom: 5px solid #7d00c4;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #7d00c4;
  border-bottom: 5px solid #7d00c4;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tab {
  display: flex;
  justify-content: space-around;
}
